.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: green;
  padding: 10px 20px;
  color: white;
}

.left {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  margin-right: 20px;
}

.nav-link {
  margin-right: 20px;
  cursor: pointer;
}

.right {
  display: flex;
  align-items: center;
}

.cart-icon {
  position: relative;
  margin-right: 20px;
}

.cart-count {
  position: absolute;
  top: -15px;
  right: 5px;
  background-color: lightgreen;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
}

.user {
  font-weight: 200;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}
